# Menu Dataset for 'A Pizza restaurant

In [1]:
import pandas as pd
from faker import Faker

In [3]:
fake = Faker()

In [5]:
menu_items = [
    {"Item_ID": 1, "Item_Name": "Margherita", "Category": "Pizza", "Price": 32, "Available": True},
    {"Item_ID": 2, "Item_Name": "Diavola", "Category": "Pizza", "Price": 35, "Available": True},
    {"Item_ID": 3, "Item_Name": "Vegana", "Category": "Pizza", "Price": 36, "Available": True},
    {"Item_ID": 4, "Item_Name": "Amatriciana", "Category": "Pasta", "Price": 37, "Available": True},
    {"Item_ID": 5, "Item_Name": "Carbonara", "Category": "Pasta", "Price": 38, "Available": True},
    {"Item_ID": 6, "Item_Name": "Bolognese", "Category": "Pasta", "Price": 39, "Available": True},
    {"Item_ID": 7, "Item_Name": "Focaccia", "Category": "Appetizer", "Price": 15, "Available": True},
    {"Item_ID": 8, "Item_Name": "Coca-Cola", "Category": "Beverage", "Price": 10, "Available": True},
    {"Item_ID": 9, "Item_Name": "Tiramisu", "Category": "Dessert", "Price": 18, "Available": True},
    {"Item_ID": 10, "Item_Name": "Espresso", "Category": "Beverage", "Price": 12, "Available": True},
    {"Item_ID": 11, "Item_Name": "Water", "Category": "Beverage", "Price": 5, "Available": True}

]

In [7]:
menu_data = pd.DataFrame(menu_items)

In [9]:
menu_data.to_csv("menu_data.csv", index=False)

In [11]:
menu_data

    Item_ID    Item_Name   Category  Price  Available
0         1   Margherita      Pizza     32       True
1         2      Diavola      Pizza     35       True
2         3       Vegana      Pizza     36       True
3         4  Amatriciana      Pasta     37       True
4         5    Carbonara      Pasta     38       True
5         6    Bolognese      Pasta     39       True
6         7     Focaccia  Appetizer     15       True
7         8    Coca-Cola   Beverage     10       True
8         9     Tiramisu    Dessert     18       True
9        10     Espresso   Beverage     12       True
10       11        Water   Beverage      5       True